.labelDate {
    font-size: larger;
    padding-bottom: 20px;
    padding-left: 40px;
}

.extra-space {
    padding-right: 10px;
}

.labelValori{
    font-size: larger;
}

.btnHarta{
    padding-left: 40px;
}

.linkBack{
    color: black;
}

.btnAngajati{
    margin-top: -10px;
}
