<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Plan Cladire</h4>
            </div>
            <div class="card-body">
                <div class="selectEtaj">
                    <mat-button-toggle-group>
                        <mat-button-toggle #parter [checked]="true">Parter</mat-button-toggle>
                        <mat-button-toggle #etaj1>Etajul 1</mat-button-toggle>
                        <mat-button-toggle #etaj2>Etajul 2</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div id="planCladire">
                    <div class="details-amenities" #detailsAmenities></div>
                    <svg viewBox="0 0 1050 500" preserveAspectRatio="none">
                        <rect x="0" y="0" width="1050" height="500" fill-opacity="0" stroke="black" stroke-width="3"/>
 <!------------------------------------------------->
                        <!-- 1. Scari stg -->
                        <rect x="36%" y="0" width="14%" height="17%" fill-opacity="0" stroke="black">
                            <title>Scari</title>
                        </rect>
                        <!-- Linie mijloc -->
                        <line x1="43%" y1="0" x2="43%" y2="17%" stroke="black" />
                        <!-- Semn orientare -->
                        <line x1="40%" y1="5%" x2="40%" y2="15%" stroke="black" />
                        <line x1="46%" y1="5%" x2="46%" y2="13%" stroke="black" />
                        <line x1="40%" y1="5%" x2="46%" y2="5%" stroke="black" />
                        <!-- Sageata -->
                        <line x1="45%" y1="13%" x2="47%" y2="13%" stroke="black" />
                        <line x1="45%" y1="13%" x2="46%" y2="15%" stroke="black" />
                        <line x1="46%" y1="15%" x2="47%" y2="13%" stroke="black" />
                        <!-- Linii orizontale -->
                        <g *ngFor="let i of [1,2,3,4,5]">
                            <line x1="36%" [attr.y1]="i * 15" x2="50%" [attr.y2]="i * 15" stroke="black" />
                        </g>

<!------------------------------------------------->
                        <!-- 2. Lift -->
                        <rect x="50%" y="0" width="14%" height="17%" fill-opacity="0" stroke="black">
                            <title>Lift</title>
                        </rect>
                        <!-- Linii mijloc -->
                        <line x1="50%" y1="15%" x2="64%" y2="15%" stroke="black" />
                        <line x1="57%" y1="15%" x2="57%" y2="17%" stroke="black" />

<!------------------------------------------------->
                        <!-- 3. Scari dr -->
                        <rect x="64%" y="0" width="14%" height="17%" fill-opacity="0" stroke="black">
                            <title>Scari</title>
                        </rect>
                        <!-- Linie mijloc -->
                        <line x1="71%" y1="0" x2="71%" y2="17%" stroke="black" />
                        <!-- Semn orientare -->
                        <line x1="68%" y1="5%" x2="68%" y2="15%" stroke="black" />
                        <line x1="74%" y1="5%" x2="74%" y2="13%" stroke="black" />
                        <line x1="68%" y1="5%" x2="74%" y2="5%" stroke="black" />
                        <!-- Sageata -->
                        <line x1="73%" y1="13%" x2="75%" y2="13%" stroke="black" />
                        <line x1="73%" y1="13%" x2="74%" y2="15%" stroke="black" />
                        <line x1="74%" y1="15%" x2="75%" y2="13%" stroke="black" />
                        <!-- Linii orizontale -->
                        <g *ngFor="let i of [1,2,3,4,5]">
                            <line x1="64%" [attr.y1]="i * 15" x2="78%" [attr.y2]="i * 15" stroke="black" />
                        </g>

<!------------------------------------------------->
                        <!-- 4. Bai -->
                        <rect x="78%" y="0" width="22%" height="25%" fill-opacity="0" stroke="black">
                            <title>Baie femei</title>
                        </rect>
                        <g transform="translate(100,100)">
                            <path d="M719 0 729 0A90 90 0 0 1 719 15Z" fill-opacity="0" stroke="black"/>
                        </g>
                       <!-- WC-->
                        <rect x="86%" y="0" width="7%" height="15%" fill-opacity="0" stroke="black"/>
                        <rect x="88%" y="0" width="2%" height="2%" fill-opacity="0" stroke="black"/>
                        <ellipse cx="89%" cy="5%" rx="8" ry="16" fill-opacity="0" stroke="black"/>
                        <rect x="93%" y="0" width="7%" height="15%" fill-opacity="0" stroke="black"/>
                        <rect x="95%" y="0" width="2%" height="2%" fill-opacity="0" stroke="black"/>
                        <ellipse cx="96%" cy="5%" rx="8" ry="16" fill-opacity="0" stroke="black"/>
                        <!-- CHIUVETA -->
                        <rect x="78%" y="3%" width="3%" height="6%" fill-opacity="0" stroke="black"/>
                        <rect x="78%" y="4%" width="2.5%" height="4%" fill-opacity="0" stroke="black"/>
                        <rect x="78%" y="6%" width="0.5%" height="0.5%" fill-opacity="0" stroke="black"/>
                        <g transform="translate(100,100)">
                            <path d="M870 -25 850 -25A70 70 0 0 1 870 -35Z" fill-opacity="0" stroke="black"/>
                        </g>
                        <g transform="translate(100,100)">
                            <path d="M940 -25 920 -25A70 70 0 0 1 940 -35Z" fill-opacity="0" stroke="black"/>
                        </g>

                        <!-- 4. Bai -->
                        <rect x="78%" y="25%" width="22%" height="25%" fill-opacity="0" stroke="black">
                            <title>Baie barbati</title>
                        </rect>
                        <g transform="translate(100,100)">
                            <path d="M719 130 729 130A90 90 0 0 1 719 145Z" fill-opacity="0" stroke="black"/>
                        </g>
                        <!-- WC-->
                        <rect x="86%" y="25%" width="7%" height="15%" fill-opacity="0" stroke="black"/>
                        <rect x="88%" y="25%" width="2%" height="2%" fill-opacity="0" stroke="black"/>
                        <ellipse cx="89%" cy="30%" rx="8" ry="16" fill-opacity="0" stroke="black"/>
                        <rect x="93%" y="25%" width="7%" height="15%" fill-opacity="0" stroke="black"/>
                        <rect x="95%" y="25%" width="2%" height="2%" fill-opacity="0" stroke="black"/>
                        <ellipse cx="96%" cy="30%" rx="8" ry="16" fill-opacity="0" stroke="black"/>
                        <g transform="translate(100,100)">
                            <path d="M870 100 850 100A70 70 0 0 1 870 90Z" fill-opacity="0" stroke="black"/>
                        </g>
                        <g transform="translate(100,100)">
                            <path d="M940 100 920 100A70 70 0 0 1 940 90Z" fill-opacity="0" stroke="black"/>
                        </g>
                        <!-- CHIUVETA -->
                        <rect x="78%" y="28%" width="3%" height="6%" fill-opacity="0" stroke="black"/>
                        <rect x="78%" y="29%" width="2.5%" height="4%" fill-opacity="0" stroke="black"/>
                        <rect x="78%" y="31%" width="0.5%" height="0.5%" fill-opacity="0" stroke="black"/>

                        <!-- 5. Bucatarie -->
                        <rect x="78%" y="50%" width="22%" height="50%" fill-opacity="0" stroke="black">
                            <title>Bucatarie</title>
                        </rect>
                        <g transform="translate(100,100)">
                            <path d="M719 160 729 160A90 90 0 0 1 719 175Z" fill-opacity="0" stroke="black"/>
                        </g>
                        <circle cx="88%" cy="65%" r="40" fill-opacity="0" stroke="black"/>
                        <circle cx="83%" cy="60%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="83%" cy="70%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="93%" cy="60%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="93%" cy="70%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="88%" cy="53%" r="10" fill-opacity="0" stroke="black"/>

                        <circle cx="83%" cy="85%" r="40" fill-opacity="0" stroke="black"/>
                        <circle cx="88%" cy="80%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="88%" cy="90%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="83%" cy="97%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="80%" cy="75%" r="10" fill-opacity="0" stroke="black"/>

                        <circle cx="93%" cy="85%" r="40" fill-opacity="0" stroke="black"/>
                        <circle cx="93%" cy="97%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="95%" cy="75%" r="10" fill-opacity="0" stroke="black"/>
                        <circle cx="98%" cy="85%" r="10" fill-opacity="0" stroke="black"/>

                        <g parter-component *ngIf="parter.checked"></g>
                        <g etaj-1-component *ngIf="etaj1.checked"></g>
                        <g etaj-2-component *ngIf="etaj2.checked"></g>
                    </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
