.details-amenities {
    display: none;
    position: absolute;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: #fff;
    border-radius: 6px;
    padding: 3px;
}

.selectEtaj {
    margin-bottom: 10px;
}

svg rect:hover  {
    fill: #FFF0F5;
    fill-opacity: 50%;
}
