<svg>
    <!-- 1. OS 1 -->
    <rect  x="0" y="17%" width="36%" height="83%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M278 20 268 20A70 70 0 0 1 278 5Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 2. OS 2 -->
    <rect  x=36% y="37%" width="42%" height="46%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M300 85 320 85A90 90 0 0 1 300 95Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 3. MR 1 -->
    <rect  x="0" y="0" width="18%" height="17%" fill-opacity="0" stroke="black">
        <title>{{meetingRooms[0]?.name}} {{meetingRooms[0]?.codeId}}</title>
    </rect>
    <g transform="translate(100,100)">
        <path d="M70 -15 50 -15A70 70 0 0 1 70 -25Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 4. MR 2 -->
    <rect  x="18%" y="0" width="18%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M250 -15 230 -15A70 70 0 0 1 250 -25Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 5. MR 3 -->
    <rect  x="36%" y="83%" width="14%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M300 315 320 315A90 90 0 0 1 300 325Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 6. MR 4 -->
    <rect  x="50%" y="83%" width="14%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M450 315 470 315A90 90 0 0 1 450 325Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 7. MR 5 -->
    <rect  x="64%" y="83%" width="14%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M600 315 620 315A90 90 0 0 1 600 325Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 8. Servere -->
    <rect  x="0" y="83%" width="13%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M-80 315 -60 315A90 90 0 0 1 -80 325Z" fill-opacity="0" stroke="black"/>
    </g>
</svg>
