<svg>
    <!-- 1. Sala jocuri -->
    <rect  x="0" y="0" width="36%" height="21%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M250 5 230 5A70 70 0 0 1 250 -5Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 2. OS 1 -->
    <rect  x="0" y="21%" width="36%" height="62%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M278 30 268 30A70 70 0 0 1 278 15Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 3. MR 1 -->
    <rect  x="0" y="83%" width="12%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M-80 315 -60 315A90 90 0 0 1 -80 325Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 4. MR 2 -->
    <rect  x="12%" y="83%" width="12%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M50 315 70 315A90 90 0 0 1 50 325Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 5. MR 3 -->
    <rect  x="24%" y="83%" width="12%" height="17%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M180 315 200 315A90 90 0 0 1 180 325Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 6. SR 1 -->
    <rect  x="36%" y="70%" width="14%" height="30%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M300 250 320 250A90 90 0 0 1 300 260Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 7. SR 2 -->
    <rect  x="50%" y="70%" width="14%" height="30%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M450 250 470 250A90 90 0 0 1 450 260Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 8. SR 3 -->
    <rect  x="64%" y="70%" width="14%" height="30%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M600 250 620 250A90 90 0 0 1 600 260Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 9. SR 4 -->
    <rect  x="40%" y="33%" width="14%" height="30%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M550 65 570 65A90 90 0 0 1 550 75Z" fill-opacity="0" stroke="black"/>
    </g>

    <!-- 10. SR 5 -->
    <rect  x="60%" y="33%" width="14%" height="30%" fill-opacity="0" stroke="black"/>
    <g transform="translate(100,100)">
        <path d="M350 65 370 65A90 90 0 0 1 350 75Z" fill-opacity="0" stroke="black"/>
    </g>
</svg>
