<svg>

    <ng-container *ngFor="let officeRoom of officeRooms">
        <rect [attr.x]="officeRoom?.x" [attr.y]="officeRoom?.y" [attr.width]="officeRoom?.width" [attr.height]="officeRoom?.height" fill-opacity="0" stroke="black" [ngStyle]="isOpenSpaceSelectedStyle(officeRoom?.id, camera)" (mouseover)="showTooltip($event, officeRoom)" (mouseleave)="hideTooltip($event)"/>
        <ng-container *ngFor="let office of officeRoom?.offices">
            <rect [attr.x]="office.x" [attr.y]="office.y" [attr.width]="office.width"  [attr.height]="office.height" fill-opacity="0" stroke="black" [ngStyle]="isOpenSpaceSelectedStyle(office?.id, officeAngajat)" (mouseover)="showTooltipOffice($event, office, officeRoom?.department?.name)" (mouseleave)="hideTooltip($event)"/>
        </ng-container>
    </ng-container>

    <g transform="translate(100,100)">
        <path d="M278 20 260 20A70 70 0 0 1 278 0Z" fill-opacity="0" stroke="black"/>
    </g>
    <g transform="translate(100,100)">
        <path d="M515 250 540 250A90 90 0 0 1 515 265Z" fill-opacity="0" stroke="black"/>
    </g>
    <!-- Usa intrare cladire-->
    <g transform="translate(100,100)">
        <path d="M410 400 370 400A70 70 0 0 1 410 380Z" fill-opacity="0" stroke="black"/>
    </g>
    <!-- 4. Receptie -->
    <rect x=44% y="37%" width="21%" height="22%" fill-opacity="0" stroke="black" (mouseover)="showTooltipSimple($event, 'Receptie')" (mouseleave)="hideTooltip($event)"/>
</svg>
