<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">perm_identity</i>
                      </div>
                      <h3 class="card-title">Profilul Meu
                      </h3>
                      <p class="card-category">Afla detaliile personale gestionate de companie.</p>
                      <p class="card-category">Poti modifica datele personale.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">find_in_page</i>
                          <a [routerLink]="['/user-profile']">Afla mai multe...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">room</i>
                      </div>
                      <h3 class="card-title">Plan Cladire</h3>
                      <p class="card-category">Afla detalii legate de spatiile detinute de companie.</p>
                      <p class="card-category">Plimba- te virtual prin camere.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">find_in_page</i>
                          <a [routerLink]="['/plan-cladire']">Afla mai multe...</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">people</i>
                      </div>
                      <h3 class="card-title">Angajati</h3>
                      <p class="card-category">Afla detalii legate de angajatii companiei.</p>
                      <p class="card-category">Poti contacta usor orice coleg.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">find_in_page</i>
                          <a [routerLink]="['/angajati']">Afla mai multe...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">assignment</i>
                      </div>
                      <h3 class="card-title">Departamente</h3>
                      <p class="card-category">Afla detalii legate de departamentele companiei.</p>
                      <p class="card-category">Gaseste detalii legate de colegii dintr- un departament.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">find_in_page</i>
                          <a [routerLink]="['/departamente']">Afla mai multe...</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">calendar_today</i>
                      </div>
                      <h3 class="card-title">Rezervare sala de sedinte</h3>
                      <p class="card-category">Poti gasi detalii legate de sali de sedinta</p>
                      <p class="card-category">Poti rezerva o sala pentru o intalnire.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">find_in_page</i>
                          <a [routerLink]="['/rezervare']">Afla mai multe...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">save</i>
                      </div>
                      <h3 class="card-title">Salvare rezervari Google</h3>
                      <p class="card-category">Poti salva rezervarile si in Google Calendar</p>
                      <p class="card-category">Poti vizualiza toate rezervarile nesalvate in Google Calendars.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">find_in_page</i>
                          <a href="http://localhost:8080/home" target="_blank">Afla mai multe...</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
