<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Editare Profil</h4>
                      <p class="card-category">Angajat id: {{angajat?.id}}</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="employeeForm" autocomplete="off" enctype="multipart/form-data">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Nume</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput disabled [value]="angajat?.name">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Email</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput type="email" formControlName="email">
                                      <mat-error *ngIf="email.invalid">Email invalid</mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Telefon</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput type="text" formControlName="phoneNumber">
                                      <mat-error *ngIf="phoneNumber.invalid">Telefon invalid</mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Data angajarii</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput disabled [value]="angajat?.dateOfEmployment | date :'yyyy/MM/dd'">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Functie</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput disabled [value]="angajat?.job?.name">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Departament</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput disabled [value]="angajat?.department?.name">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Manager</label>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput disabled [value]="angajat?.manager?.name">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Birou</label>
                              </div>
                              <div class="col-md-3">
                                      <select matNativeControl name="select1" formControlName="office" id="office">
                                          <option  *ngFor="let office of offices" [value]="office._links.self.href" [selected]="">{{office.name}}</option>
                                      </select>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="employeeForm.invalid" (click)="updateEmployee(employeeForm.value)">Salvare modificari</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
